 @font-face {
   font-family: "Raleway";
   font-style: normal;
   font-weight: 800;
   src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
   font-display: swap;
 }

 @font-face {
   font-family: "Rubik";
   font-style: normal;
   font-weight: 400;
   src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
   font-display: swap;
 }

 @font-face {
   font-family: "Rubik";
   font-style: normal;
   font-weight: 700;
   src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
   font-display: swap;
 }

 .visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }

 html {
   height: 100%;
 }

 body {
   box-sizing: border-box;
   margin: 0;
   display: flex;
   flex-direction: column;
   height: 100%;
   font-family: "Rubik", Arial, sans-serif;
   font-size: 18px;
   line-height: 30px;
   color: #000000;
   background-color: #ffffff;
 }

 /* page-index */
 /* Header */

 .page-header {
   box-sizing: border-box;
   display: flex;
   width: 1160px;
   min-height: 300px;
   margin: 0 auto;
   background-color: #FFE17F;
   margin-top: 40px;
 }

 .page-header-container {
   box-sizing: border-box;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   min-height: 186px;
   width: 1040px;
 }

 .logo {
   display: flex;
   width: 145px;
   margin-top: -20px;
   margin-bottom: 30px;
 }

 .logo:hover {
   opacity: 0.6;
 }

 .logo:active {
   opacity: 0.3;
 }

 .logo:focus-visible {
   outline: 2px solid #AF4FFF;
 }

 .navigation-search-container {
   box-sizing: border-box;
   display: flex;
   width: 1040px;
   min-height: 40px;
   justify-content: space-between;
 }

 .navigation-search {
   display: flex;
   width: 517px;
 }

 .navigation-form {
   display: flex;
   width: 517px;
 }

 .navigation-form-input {
   width: 359px;
   height: 40px;
   border-radius: 50px 0 0 50px;
   background-color: #FFE17F;
   border-color: #000000;
   padding-left: 48px;
   border: solid 2px #000000;
 }

 /* .navigation-form-button::before {
   content: "";
   display: block;
   width: 17px;
   height: 17px;
   background-image: url(../images/header/magnifier.svg);
   position: absolute;
   padding-left: 0;
   background-repeat: no-repeat;
   transform: translateX(-344px) translateY(1px);
 } */

 .navigation-form-button {
   box-sizing: border-box;
   padding: 0;
   width: 160px;
   height: 40px;
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   border-radius: 0 50px 50px 0;
   border-left: 0;
   background-color: #FFE17F;
   border-color: #000000;
   position: relative;
   cursor: pointer;
 }

 .navigation-form-button:hover {
   color: #FFFFFF;
   background-color: #000000;
 }

 .navigation-form-button:focus button::after {
   outline: 2px solid#AF4FFF;

 }

 /* .navigation-form-button:active {
   color: #FFFFFF;
   opacity: 0.3;
 }  */

 .navigation-link {
   text-decoration: none;
   color: #000000;
 }

 .compare-cart-login {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   display: flex;
   align-items: center;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   list-style-type: none;
   width: 497px;
   justify-content: space-between;
 }

 .login {
   display: flex;
   margin-right: auto;
   padding-left: 26px;
   position: relative;
 }

 .login::before {
   content: "";
   display: block;
   width: 13px;
   height: 12px;
   background-image: url(../images/header/login.svg);
   background-repeat: no-repeat;
   position: absolute;
   left: 0;
   transform: translateY(9px);
 }

 .login:hover {
   opacity: 0.6;
 }

 .login:focus-visible {
   outline: 2px solid #AF4FFF;
 }

 .login:active {
   opacity: 0.3;
 }

 .compare-cart {
   display: flex;
   width: 240px;
   justify-content: space-between;
 }

 .compare {
   padding-left: 22px;
   position: relative;
 }

 .compare::before {
   content: "";
   display: block;
   width: 10px;
   height: 12px;
   background-image: url(../images/header/compare.svg);
   position: absolute;
   left: 0;
   transform: translateY(7px);
 }

 .compare:hover {
   opacity: 0.6;
 }

 .compare:focus-visible {
   outline: 2px solid #AF4FFF;
 }

 .compare:active {
   opacity: 0.3;
 }

 .cart {
   padding-left: 28px;
   position: relative;
 }

 .cart::before {
   content: "";
   display: block;
   width: 16px;
   height: 14px;
   background-image: url(../images/header/cart.svg);
   position: absolute;
   background-repeat: no-repeat;
   left: 0;
   transform: translateY(7px);
 }

 .cart:hover {
   opacity: 0.6;
 }

 .cart:active {
   opacity: 0.3;
 }

 .cart:focus-visible {
   outline: 2px solid #AF4FFF;
 }

 .cart::after {
   content: "";
   display: block;
   width: 21px;
   height: 23px;
   background-image: url(../images/header/cart\ number.svg);
   position: absolute;
   background-repeat: no-repeat;
   left: 0;
   transform: translateY(-27px) translateX(-15px);
 }

 .navigation {
   display: flex;
   flex-wrap: wrap;
   padding: 0;
   list-style-type: none;
   justify-content: space-between;
   margin-top: 45px;
 }

 .navigation-link-two {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   letter-spacing: 0.2em;
   text-decoration: none;
   color: #000000;
   text-transform: uppercase;
 }

 .navigation-link-two.plus {
   padding-top: 17px;
   padding-bottom: 13px;
 }

 .navigation-link-two:hover {
   opacity: 0.6;
 }

 .navigation-link-two:active {
   opacity: 0.3
 }

 .navigation-link-two:focus-visible {
   outline: 2px solid#AF4FFF;
 }


 .navigation-main-list {
   display: flex;
   width: 1040px;
   list-style-type: none;
   padding: 0;
   margin: 0;
 }

 .navigation-main-item:first-child {
   margin-right: auto;
 }

 .navigation-main-item:not(:first-child) {
   margin-left: 50px;
 }

 /* .menu-right {
   display: flex;
   width: 471px;
   justify-content: space-between;

 } */

 .plus {
   padding-right: 57px;
   position: relative;
 }

 .plus::after {
   content: "";
   display: block;
   width: 50px;
   height: 50px;
   background-image: url(../images/header/plus.svg);
   position: absolute;
   right: 0;
   transform: translateY(-43px);
 }

 .plus:active {}

 /* .menu-left {
   display: flex;
   list-style-type: none;
   text-transform: uppercase;
 } */

 .sub-menu-list {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 18px;
   justify-content: space-between;
   list-style-type: none;
   padding: 0;
   margin: 0;
   margin-top: 30px;
   width: 674px;
   display: none;
 }

 .sub-menu-list {
   display: none;
   position: absolute;
 }


 .catalog:hover .sub-menu-list {
   display: flex;
   background-color: #FFC700;
 }

 .sub-menu-link {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 18px;
   color: #000000;
   text-decoration: none;
   margin-bottom: 10px;
 }

 .column-one {
   display: flex;
   flex-direction: column;
   width: 222px;
 }

 .column-two {
   display: flex;
   flex-direction: column;
   width: 211px;
 }

 .column-three {
   display: flex;
   flex-direction: column;
   width: 211px;
 }

 /* Main */

 .page-main {
   flex-grow: 1;
 }

 .promo-slider-container {
   display: flex;
   width: 1160px;
   margin: 0 auto;
   margin-bottom: 70px;
 }

 .promo-slider-image {
   display: flex;
   width: 560px;
   height: 560px;
   margin-right: 40px;
   margin-top: -145px;
 }

 .promo-slider-info {
   display: flex;
   width: 560px;
   flex-direction: column;
   margin-top: -29px;
 }

 .promo-slider-text-header {
   display: flex;
   width: 545px;
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 50px;
   line-height: 50px;
   margin-bottom: 29px;
   position: relative;
   z-index: 0;
 }

 .promo-slider-text-header::before {
   content: "";
   display: block;
   width: 250px;
   height: 135px;
   background-image: url(../images/header/01.svg);
   transform: translateY(-100px)translateX(300px);
   position: absolute;
   background-repeat: no-repeat;
   z-index: -1;

 }

 .promo-slider-text-main {
   display: flex;
   width: 560px;
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   margin-bottom: 60px;
   margin-top: 0;
 }

 .promo-slider-button {
   display: flex;
   width: 210px;
   height: 20px;
   justify-content: space-around;
   text-decoration: none;
   color: #000000;
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   margin-bottom: 60px;
   position: relative;
   z-index: 1;
 }

 .promo-slider-button::before {
   content: "";
   display: block;
   width: 220px;
   height: 8px;
   background-image: url(../images/button.svg);
   position: absolute;
   z-index: -1;
   transform: translateX(0)translateY(5px);
 }

 .specifications {
   display: flex;
   width: 305px;
   min-height: 72px;

 }

 /* .specifications-left {
   display: flex;
   flex-direction: column;
   width: 176px;
   height: 72px;
   margin-right: 20px;
 }

 .specifications-right {
   display: flex;
   flex-direction: column;
   width: 144px;
   height: 72px;
 } */

 .specifications-title {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 30px;
 }

 .specifications-text {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
 }

 .promo-slider-controls {
   display: flex;
   width: 76px;
   height: 12px;
   position: absolute;
   transform: translateY(438px) translateX(550px);
 }

 /* Goods list */

 .main-goods {
   display: flex;
   Width: 1160px;
   justify-content: space-around;
   margin: 0 auto;
 }

 .main-goods-link {
   Width: 160px;
   Height: 253px;
   text-decoration: none;
   color: #000000;
 }

 .main-goods-link-text {
   display: flex;
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 24px;
   width: 164px;
   height: 60px;
 }

 .main-goods-link::before {
   content: "";
   display: block;
   width: 160px;
   height: 160px;
   background-color: #FFE17F;
   background-repeat: no-repeat;
   background-position: center;
   margin-bottom: 33px;
 }



 .main-goods-link:hover::before   {
  background-color: #FFC700;
 }

 .main-goods-link.vr::before {
   background-image: url(../images/main-goods-list/vr.svg);
 }

 .main-goods-link.monopod::before {
   background-image: url(../images/main-goods-list/monopod.svg);
 }

 .main-goods-link.cam::before {
   background-image: url(../images/main-goods-list/actioncam.svg);
 }

 .main-goods-link.fitnes::before {
   background-image: url(../images/main-goods-list/fitnes.svg);
 }

 .main-goods-link.watch::before {
   background-image: url(../images/main-goods-list/watch.svg);
 }

 .main-goods-link.copter::before {
   background-image: url(../images/main-goods-list/copter.svg);
 }

 /* Service slider */

 .services-slider-wrap {
   display: flex;
   width: 1440px;
   min-height: 289px;
   background-color: #F0F0F0;
   margin: 0 auto;
   margin-top: 172px;
   margin-bottom: 70px;
 }

 .services-slider-wrap-container {
   background-color: #F0F0F0;
   width: 100%;
 }

 .service-slider-controls {
   display: flex;
   flex-direction: column;
   width: 287px;
   height: 319px;
   margin-left: 140px;
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   text-transform: uppercase;
   position: relative;
   margin-top: -38px;
 }

 .service-slider-controls::after {
   content: "";
   display: block;
   width: 7px;
   height: 319px;
   background-image: url(../images/Rectangle.svg);
   position: absolute;
   right: 0;
   top: -79px;
 }

 .delivery {
   display: flex;
   align-items: center;
   width: 280px;
   height: 40px;
   color: #FFE17F;
   background-color: #000000;
   margin-bottom: 35px;
 }

 .warranty {
   display: flex;
   align-items: center;
   width: 160px;
   height: 40px;
   margin-bottom: 35px;
   padding: 10px 4px 10px 4px;
 }

 .credit {
   display: flex;
   align-items: center;
   width: 160px;
   height: 40px;
 }

 .services-slider-item {
   display: flex;
   flex-direction: column;
   width: 448px;
   margin-left: 123px;
   margin-top: -30px;
   padding-right: 246px;
 }

 .services-slider-item::after {
   content: "";
   display: block;
   width: 136px;
   height: 164px;
   background-image: url(../images/services/dilivery.svg);
   position: absolute;
   transform: translateX(550px);
 }

 .service-slider-text-header {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 50px;
   line-height: 50px;
 }

 .service-slider-text-main {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
 }

 /* Rare-bar */

 .rare-bar {
   display: flex;
   flex-direction: row;
   background-color: #F0F0F0;
   width: 1160px;
   min-height: 100px;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   margin-bottom: 70px;
 }

 .rare-product {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 20px;
   line-height: 23px;
   letter-spacing: 20%;
   background-repeat: no-repeat;
 }

 .rare-bar::before {
   content: "";
   display: block;
   width: 125px;
   height: 100px;
   background-color: #FFE17F;
   background-image: url(../images/car.svg);
   background-repeat: no-repeat;
   background-position: center;
 }

 .rare-bar::after {
   content: "";
   display: block;
   width: 125px;
   height: 100px;
   background-image: url(../images/rare-bar-info.svg);
   background-repeat: no-repeat;
   background-position: center;
 }

 /* About us contacts */

 .about-us-contacts {
   box-sizing: border-box;
   display: flex;
   justify-content: space-between;
   margin-bottom: 70px;
   width: 1160px;
   margin: 0 auto;
 }

 .about-us {
   display: flex;
   flex-direction: column;
   width: 520px;
 }

 .contacts {
   display: flex;
   flex-direction: column;
   width: 532px;
 }

 .about-us-title {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 50px;
   line-height: 50px;
   margin-bottom: 48px;
 }

 .about-us-title::before {
   content: "";
   display: block;
   width: 84px;
   height: 7px;
   background-image: url(../images/about.svg);
   transform: translateY(-39px);
 }

 .about-us-text {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   width: 497px;
   margin-top: 30px;
 }

 .about-us-item {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 20px;
   margin-top: 19px;
 }

 .about-us-button {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   text-transform: uppercase;
   color: #000000;
   text-decoration: none;
   background: #FFE17F;
   width: 270px;
   height: 8px;
 }

 .contacts-title {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 50px;
   line-height: 50px;
   margin-bottom: 48px;
 }

 .contacts-title::before {
   content: "";
   display: block;
   width: 84px;
   height: 7px;
   background-image: url(../images/about.svg);
   transform: translateY(-39px);
 }

 .contacts-text {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   margin-bottom: 30px;
 }

 .contacts-text-bold {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 30px;
   margin-bottom: 15px;
 }

 .contacts-button {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   text-transform: uppercase;
   color: #000000;
   text-decoration: none;
   background: #FFE17F;
   width: 259px;
   height: 40px;
 }

 .tel {
   color: #444444;
 }

 .time-job {
   width: 204px;
   height: 60px;
 }

 /* Subscribe */

 .subscribe {
   display: flex;
   flex-direction: column;
   Width: 1440px;
   min-height: 421px;
   background-color: #F0F0F0;
   justify-content: space-between;
   margin: 0 auto;
   margin-top: 70px;
 }

 .subscribe-container {
   width: 100%;
   background-color: #F0F0F0;
 }

 .subscribe-up {
   display: flex;
   flex-direction: row;
   justify-content: space-around
 }

 .subscribe-text-bold {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 50px;
   line-height: 50px;
   Width: 348px;
   Height: 100px;
   padding-top: 64px;
 }

 .subscribe-text {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   Width: 560px;
   Height: 90px;
   padding-top: 56px;
 }

 .subscribe-down {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
 }

 .subscribe-form {
   display: flex;
   width: 810px;
   height: 57px;
 }

 .subscribe-form-input {
   width: 100%;
   background-color: #F0F0F0;
   border-left: 0;
   border-top: 0;
   border-right: 0;
   border-bottom: 3px solid #C4C4C4;
   padding: 0 16px;
 }

 .subscribe-form-button {
   width: 253px;
   height: 57px;
   padding: 0;
   border: 3px solid #C4C4C4;
 }

 .subscribe-form-button-text {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   width: 175px;
   height: 21px;
   padding: 18px 39px 18px 39px;
 }

 .subscribe-text.tick {
   width: 160px;
   position: relative;
 }

 .tick::before {
   content: "";
   display: block;
   background-image: url(../images/tick.svg);
   width: 14px;
   height: 14px;
   transform: translateX(-22px) translateY(8px);
   position: absolute;
 }

 /* Footer */

 .page-footer {
   display: flex;
   width: 1440px;
   min-height: 321px;
   margin: 0 auto;
   background-color: #444444;
   justify-content: space-around;
 }

 .page-footer-container {
   background-color: #444444;
   width: 100%;
 }

 .page-footer-info {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   width: 234px;
   height: 182px;
   margin-top: 62px;
 }

 .page-footer-logo {
   margin-bottom: 35px;
 }

 .page-footer-logo:hover {
   opacity: 0.6;
 }

 .page-footer-logo:active {
   opacity: 0.3;
 }

 .page-footer-logo:focus-visible {
   outline: 2px solid#AF4FFF;
 }

 .page-footer-services {
   display: flex;
   flex-direction: column;
   width: 444px;
   min-height: 123px;
   margin-top: 137px;
 }

 .page-footer-link-block {
   display: flex;
   justify-content: space-between;
 }

 .delivery-link:hover {
   color: #FFC700;
   text-decoration: underline;
 }

 .delivery-link:active {
   opacity: 0.3;
 }

 .delivery-link:focus-visible {
   outline: 2px solid#AF4FFF;
 }

 .warranty-link:hover {
   color: #FFC700;
   text-decoration: underline;
 }

 .warranty-link:active {
   opacity: 0.3;
 }

 .warranty-link:focus-visible {
   outline: 2px solid#AF4FFF;
 }

 .contacts-link:hover {
   color: #FFC700;
   text-decoration: underline;
 }

 .contacts-link:active {
   opacity: 0.3;
 }

 .contacts-link:focus-visible {
   outline: 2px solid#AF4FFF;
 }

 .page-footer-social-link-block {
   display: flex;
   justify-content: space-around;
 }

 .page-footer-phone {
   display: flex;
   width: 175px;
   height: 116px;
   margin-top: 140px;
   flex-direction: column;
 }

 .page-footer-link {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   color: #FFFFFF;
   text-decoration: none;
 }

 .page-footer-link-phone {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color: #FFFFFF;
 }

 .page-footer-link-phone:hover {
   color: #FFC700;
 }

 .page-footer-link-phone:active {
   opacity: 0.3;
 }

 .page-footer-link-phone:focus-visible {
   outline: 2px solid#AF4FFF;
 }


 .page-footer-link-html {
   position: relative;
 }

 .page-footer-link-html:hover {
   color: #ffffff;
 }

 .html-logo {
   margin-left: auto;
   margin-top: auto;
 }

 .html-logo:hover {
   fill: #ffffff;
   stroke: #FFFFFF;
 }

 .html-logo:active {
   opacity: 0.3;
 }

 .html-logo:focus-visible {
   outline: 2px solid#AF4FFF;
 }

 /*
 .page-footer-link-html::after {
   content: "";
   display: block;
   background-image: url(../images/html.svg);
   width: 115px;
   height: 33px;
   position: absolute;
   bottom: 0;
   right: 0;
 } */

 .page-footer-text {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color: #FFFFFF;
   padding-bottom: 64px;
 }

 .page-footer-text::after {
   content: "";
   display: block;
   background-image: url(../images/footer-stick.svg);
   width: 80px;
   height: 7px;
   bottom: 0;
   transform: translateY(64px);
 }

 .page-footer-social-link {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   text-transform: uppercase;
   color: #FFFFFF;
   text-decoration: none;
 }

 .page-footer-social-link-block {
   display: flex;
   padding: 0;
   margin: 0;
   list-style-type: none;
 }

 .page-footer-social-link {
   border-radius: 20px;
   border-color: #000000;
 }

 .page-footer-social-link-item-telegram {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   border: rgba(255, 255, 255, 0.3);
   border-radius: 30px;
   background-color: rgba(255, 255, 255, 0.3);
 }

 .telegram-link {
   padding: 7px;
 }

 .page-footer-social-link-item-telegram:hover {
   background-color: #FFC700;
 }

 .telegram-link:active {
   opacity: 0.3;
 }

 .page-footer-social-link-item-telegram:focus-visible {
   outline: 2px solid#AF4FFF;
 }

 .page-footer-social-link-item-youtube {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   border: rgba(255, 255, 255, 0.3);
   border-radius: 30px;
   background-color: rgba(255, 255, 255, 0.3);
 }


 .page-footer-social-link-item-twitter {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   border: rgba(255, 255, 255, 0.3);
   border-radius: 30px;
   background-color: rgba(255, 255, 255, 0.3);
 }



 /* .telegram::before {
   content: "";
   display: block;
   background-image: url(../images/telegram.svg);
   width: 42px;
   height: 40px;
   bottom: 0;
   background-repeat: no-repeat;
   padding-bottom: 0;
 }

 .telegram:hover {
   background-color: #FFC700;
   border-radius: 20px;
 }

 .telegram:focus {
   border: 2px solid #AF4FFF;
 }


 .youtube::before {
   content: "";
   display: block;
   background-image: url(../images/youtube.svg);
   width: 42px;
   height: 40px;
   padding-bottom: 0;
   background-repeat: no-repeat;
   margin-right: 13px;
   margin-left: 14px;
 }

 .twitter::before {
   content: "";
   display: block;
   background-image: url(../images/twitter.svg);
   width: 42px;
   height: 40px;
   padding-bottom: 0;
   background-repeat: no-repeat;
 } */

 /* page-catalog */

 .inner-header {
   display: flex;
   flex-direction: column;
   width: 1079px;
   margin: 0 auto;

 }

 .inner-header-title {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 50px;
   line-height: 50px;
   margin-top: 35px;
   margin-bottom: 16px;
 }

 .breadcrumbs {
   display: flex;
   list-style-type: none;
   width: 429px;
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   padding: 0;
   margin: 0;
   justify-content: space-between;
   margin-bottom: 34px;
   color: #000000;
   text-decoration: none;
 }

 .breadcrumbs-link {
   color: #000000;
   text-decoration: none;
 }

 .main {
   position: relative;
 }

 .main::after {
   content: "";
   display: block;
   background-image: url(../images/breadcrumbs.svg);
   width: 5px;
   height: 8px;
   position: absolute;
   right: -22px;
   background-repeat: no-repeat;
   transform: translateY(-13px);
 }

 .catalog::after {
   content: "";
   display: block;
   background-image: url(../images/breadcrumbs.svg);
   width: 5px;
   height: 8px;
   position: absolute;
   right: -22px;
   background-repeat: no-repeat;
   transform: translateY(-13px);
 }

 .page-catalog {
   display: flex;
   width: 1440px;
   margin: 0 auto;
   background-color: #F0F0F0;
 }

 .page-catalog-container {
   width: 100%;
   background-color: #F0F0F0;
 }

 .sidebar {
   display: flex;
   width: 320px;
   min-height: 1316px;
   flex-direction: column;
   margin-top: 25px;
 }

 .sidebar-title {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 16px;
   line-height: 19px;
   text-transform: uppercase;
   padding: 0;
   margin: 0;
   margin-left: 200px;
 }

 .goods-sort {
   display: flex;
   width: 840px;
   height: 70px;
   justify-content: space-between;
   margin-left: 40px;
   margin-right: 49px;
   align-items: center;
 }

 .goods-sort-updown {
   display: flex;
   width: 60px;
   height: 30px;
   justify-content: space-around;
 }

 .goods-sort-title {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 16px;
   line-height: 19px;
   text-transform: uppercase;
 }

 .goods-select {
   background-color: #F0F0F0;
   border: 0;
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
 }


 .goods-list {
   display: flex;
   width: 840px;
   flex-wrap: wrap;
   background-color: #FFFFFF;
   justify-content: space-between;
 }

 .goods-container {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   margin-top: 70px;
 }

 .goods-item-info {
   display: flex;
   width: 360px;
   min-height: 40px;
   margin-top: 32px;
   margin-bottom: 44px;
   justify-content: space-between;
 }

 .goods-item-title {
   display: flex;
   margin: 0;
   width: 266px;
 }

 .button-download-more {
   width: 760px;
   height: 55px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0;
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   background-color: #ffffff;
   border: 3px solid #E5E5E5;
   margin: 0 auto;
   margin-bottom: 44px;
 }

 .button-download-more-text {
   padding-top: 8px;
 }

 .pagination-container {
   display: flex;
   width: 760px;
   height: 71px;
   margin: 0 auto;
   margin-bottom: 78px;
 }

 .pagination {
   list-style-type: none;
   padding: 0;
   margin: 0;
   display: flex;
   width: 760px;
   height: 71px;
   justify-content: space-between;
   align-items: center;
   background-color: #EBEBEB;
   padding-left: 25px;
   padding-right: 25px;
 }

 .pagination-list {
   list-style-type: none;
   padding: 0;
   display: flex;
   width: 200px;
   justify-content: space-around;
 }

 .filter-title {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 20px;
 }

 .filter-checkbox-label {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
 }



 .filter-button {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   text-transform: uppercase;
   background-color: #FFE17F;
 }

 .goods-item-link {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 20px;
   color: #000000;
   text-decoration: none;
 }

 .goods-item-price {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #444444;
 }

 .pagination-control {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   text-transform: uppercase;
   color: #000000;
   text-decoration: none;
 }

 .pagination-link {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   text-decoration: none;
   color: #444444;
 }

 .goods-item-more-link {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   text-transform: uppercase;
   text-decoration: none;
   color: #000000;
   background-color: #FFE17F;
 }
