 @font-face {
   font-family: "Raleway";
   font-style: normal;
   font-weight: 800;
   src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
   font-display: swap;
 }

 @font-face {
   font-family: "Rubik";
   font-style: normal;
   font-weight: 400;
   src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
   font-display: swap;
 }

 @font-face {
   font-family: "Rubik";
   font-style: normal;
   font-weight: 700;
   src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
   font-display: swap;
 }

 .visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }

 html {
   height: 100%;
 }

 body {
   box-sizing: border-box;
   margin: 0;
   display: flex;
   flex-direction: column;
   height: 100%;
   font-family: "Rubik", Arial, sans-serif;
   font-size: 18px;
   line-height: 30px;
   color: #000000;
   background-color: #ffffff;
 }

 /* page-index */
 /* Header */

 .page-header {
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   width: 1160px;
   min-height: 300px;
   padding: 0;
   margin: 0 auto;
   background-color: #FFE17F;
   margin-top: 40px;
 }

 .page-header.catalog-page {
   min-height: 186px;
 }

 .logo {
   display: flex;
   width: 145px;
   height: 36px;
   margin-top: -20px;
   margin-bottom: 30px;
   margin-left: 60px;
 }

 .logo:hover {
   opacity: 0.6;
 }

 .logo:active {
   opacity: 0.3;
 }

 .logo:focus-visible {
   outline: 2px solid #AF4FFF;
 }

 .navigation-search-container {
   box-sizing: border-box;
   display: flex;
   width: 1040px;
   min-height: 40px;
   justify-content: space-between;
   margin-left: 60px;
   margin-right: 60px;
 }

 .navigation-search {
   display: flex;
   width: 517px;
 }

 .navigation-form {
   display: flex;
   width: 517px;
 }

 .navigation-form-input {
   width: 359px;
   height: 40px;
   border-radius: 50px 0 0 50px;
   background-color: #FFE17F;
   border-color: #000000;
   padding-left: 48px;
   border: solid 2px #000000;
   outline: none;
   position: relative;
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
 }

 /* .navigation-form-label::before {
   content: "";
   display: block;
   width: 363px;
   height: 44px;
   border: 2px solid #AF4FFF;
   position: absolute;
   /* left: 0;
   transform: translateX(64%) translateY(-8%);
 z-index: 1;
 } */

 .navigation-form-input:focus-visible::before.navigation-form-label {
   display: block;
 }

 .navigation-form-button {
   box-sizing: border-box;
   padding: 0;
   width: 160px;
   height: 40px;
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   border-radius: 0 50px 50px 0;
   border-left: 0;
   background-color: #FFE17F;
   border-color: #000000;
   position: relative;
   cursor: pointer;
   outline: none;
 }

 .navigation-form-button:hover {
   color: #FFFFFF;
   background-color: #000000;
 }

 .search-text {
   padding: 9px 54px 9px 54px;
 }

 .search-text:active {
   opacity: 0.3;
 }

 .navigation-form-button::before {
   content: "";
   display: none;
   width: 164px;
   height: 44px;
   border: 2px solid #AF4FFF;
   position: absolute;

   transform: translateY(-28%) translateX(-3%);

 }


 .navigation-form-button:focus-visible::before {
   outline: none;
   display: block;
 }

 .navigation-link {
   text-decoration: none;
   color: #000000;
 }

 .compare-cart-login {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   display: flex;
   align-items: center;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   list-style-type: none;
   width: 497px;
   justify-content: space-between;
 }

 .login {
   display: flex;
   margin-right: auto;
   padding-left: 26px;
   position: relative;
 }

 .login::before {
   content: "";
   display: block;
   width: 13px;
   height: 12px;
   background-image: url(../images/header/login.svg);
   background-repeat: no-repeat;
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
 }

 .login:hover {
   opacity: 0.6;
 }

 .login:focus-visible {
   outline: 2px solid #AF4FFF;
 }

 .login:active {
   opacity: 0.3;
 }

 .compare-cart {
   display: flex;
   width: 240px;
   justify-content: space-between;
   position: relative;
 }

 /* .navigation-link.cart {
   position: relative;
 } */

 .popover {
   position: absolute;
   z-index: 3;
   top: 36px;
   box-sizing: border-box;
   width: 320px;
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   background-color: #000000;
   min-height: 301px;
   display: none;
   flex-direction: column;

 }


 .cart-items-list::before {
   content: "";
   display: block;
   width: 14px;
   height: 6px;
   background-image: url(../images/triangle-popover.svg);
   position: absolute;
   left: 156px;
   top: -6px;
 }


 .button-block {
   display: flex;
   width: 320px;
   height: 90px;
   justify-content: center;
   align-items: center;
 }

 .popover-button-open-cart {
   width: 280px;
   height: 50px;
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   letter-spacing: 0.2em;
   text-transform: uppercase;

 }

 .product-price {
   display: flex;
   width: 320px;
   min-height: 44px;
   color: #FFFFFF;
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
 }

 .cart-items-list {
   display: flex;
   flex-direction: column;
   list-style-type: none;
   color: #FFFFFF;
   margin: 0;
   padding: 0;
   position: relative;
 }

 .cart-item {
   display: flex;
   width: 320px;
   min-height: 83px;
   position: relative;
 }

 .cart-item-link {
   display: flex;
   margin-top: 20px;
   color: inherit;
   text-decoration: none;
 }

 .cart-item-img {
   display: flex;
   margin: 0;
   margin-left: 20px;
   margin-right: 23px;
 }

 .cart-item-text {
   display: flex;
   margin: 0;
   width: 121px;
 }

 .cart-item-button {
   display: flex;
   width: 10px;
   height: 10px;
   position: absolute;
   top: 20px;
   right: 20px;
   border: none;
   background-color: #000000;
   background-image: url(../images/x-button.svg);
   background-repeat: no-repeat;
   cursor: pointer;
 }


 .total-product {
   display: flex;
   width: 120px;
   min-height: 44px;
   align-items: center;
   margin: 0;
   margin-left: 20px;
   margin-right: 10px;

 }

 .total-price {
   display: flex;
   width: 150px;
   min-height: 44px;
   align-items: center;
   margin: 0;
   justify-content: flex-end;
 }

 .compare {
   padding-left: 22px;
   position: relative;
 }

 .compare::before {
   content: "";
   display: block;
   width: 10px;
   height: 12px;
   background-image: url(../images/header/compare.svg);
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
 }

 .compare:hover {
   opacity: 0.6;
 }

 .compare:focus-visible {
   outline: 2px solid #AF4FFF;
 }

 .compare:active {
   opacity: 0.3;
 }

 .cart {
   padding-left: 28px;
   position: relative;
 }

 .cart::before {
   content: "";
   display: block;
   width: 16px;
   height: 14px;
   background-image: url(../images/header/cart.svg);
   position: absolute;
   background-repeat: no-repeat;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
 }

 .cart:hover {
   opacity: 0.6;
 }

 .cart:active {
   opacity: 0.3;
 }

 .cart:focus-visible {
   outline: 2px solid #AF4FFF;
 }

 .cart::after {
   content: "";
   display: block;
   width: 21px;
   height: 23px;
   background-image: url(../images/header/cart\ number.svg);
   position: absolute;
   background-repeat: no-repeat;
   left: 0;
   top: 50%;
   transform: translateY(-50%) translateX(-70%);
 }

 .navigation {
   display: flex;
   width: 1160px;
 }

 .navigation-link.plus {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   letter-spacing: 0.2em;
   text-decoration: none;
   color: #000000;
   text-transform: uppercase;
   padding-right: 57px;
   position: relative;
 }

 .navigation-link.plus::after {
   content: "";
   display: block;
   width: 50px;
   height: 52px;
   background-image: url(../images/header/plus.svg);
   opacity: 0.3;
   background-repeat: no-repeat;
   position: absolute;
   right: 0;
   transform: translateY(-80%) translateX(20%);
 }


 .navigation-link.plus:hover::after {
   opacity: 1;
 }

 .minus {
   padding-right: 57px;
   position: relative;
 }

 .minus::before {
   content: "";
   display: none;
   width: 50px;
   height: 52px;
   background-image: url(../images/header/plus_active.svg);
   background-repeat: no-repeat;
   position: absolute;
   right: 0;
   transform: translateY(-80%) translateX(20%);
 }

 .minus:active::before {
   display: block;
 }

 .navigation-link.plus:focus-visible {
   outline: 2px solid#AF4FFF;
 }

 .navigation-link-catalog {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   letter-spacing: 0.2em;
   text-decoration: none;
   color: #000000;
   text-transform: uppercase;
 }

 .navigation-link-catalog:hover {
   opacity: 0.6;
 }

 .navigation-link-catalog:active {
   opacity: 0.3
 }

 .navigation-link-catalog:focus-visible {
   outline: 2px solid#AF4FFF;
 }

 .navigation-main-list {
   display: flex;
   width: 1040px;
   min-height: 50px;
   list-style-type: none;
   padding: 0;
   margin: 0;
   margin-top: 30px;
   margin-left: 60px;
   margin-right: 60px;
   align-items: center;
 }

 .navigation-main-item:first-child {
   margin-right: auto;
 }

 /* .navigation-main-item.warranty {
  margin-left: 47px;
 }

 .navigation-main-item.contacts {

 } */

 .navigation-main-item:not(:first-child) {
   margin-left: 45px;
 }







 /*
 .plus {
   padding-right: 57px;
   position: relative;
 } */









 .sub-menu-list {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 18px;
   list-style-type: none;
   padding: 0;
   margin: 0;
   margin-top: 14px;
   width: 1160px;
   min-height: 140px;
   margin-left: -60px;
   z-index: 3;
   display: flex;
 }

 .sub-menu-list {
   display: none;
   position: absolute;
 }

 .sub-catalog {
   position: relative;
 }

 /* .sub-catalog:hover .sub-menu-list {
   display: flex;
   width: 1160px;
   background-color: #FFE17F;
   line-height: 18px;
 } */

 .navigation-main-list:focus-within .sub-menu-list {
   display: flex;
 }

 .sub-menu-link {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   color: #000000;
   text-decoration: none;
   margin-bottom: 10px;
 }

 .column-one {
   display: flex;
   flex-direction: column;
   width: 222px;
   margin-left: 60px;
   margin-right: 30px;
 }

 .column-two {
   display: flex;
   flex-direction: column;
   width: 211px;
   margin-right: 1px;
 }

 .column-three {
   display: flex;
   flex-direction: column;
   width: 211px;
 }

 /* Main */

 .page-main {
   flex-grow: 1;
 }

 .promo-slider-container {
   display: flex;
   width: 1160px;
   min-height: 560px;
   margin: 0 auto;
   margin-top: -150px;
   margin-bottom: 70px;
   position: relative;
   z-index: 2;
 }

 .promo-slider-text-header.one::before {
   content: "";
   display: block;
   width: 250px;
   height: 135px;
   background-image: url(../images/header/01.svg);
   position: absolute;
   background-repeat: no-repeat;
   top: 29px;
   left: 904px;
   z-index: -1;
 }

 .promo-slider-text-header.two::before {
   content: "";
   display: block;
   width: 250px;
   height: 135px;
   background-image: url(../images/header/02.svg);
   position: absolute;
   background-repeat: no-repeat;
   top: 32px;
   left: 877px;
   z-index: -1;
 }

 .promo-slider-text-header.three::before {
   content: "";
   display: block;
   width: 250px;
   height: 135px;
   background-image: url(../images/header/03.svg);
   position: absolute;
   background-repeat: no-repeat;
   top: 32px;
   left: 877px;
   z-index: -1;
 }

 .slider-pagination {
   display: flex;
   width: 76px;
   height: 12px;
   position: absolute;
   list-style-type: none;
   justify-content: space-between;
   align-items: center;
   margin: 0;
   padding: 0;
   bottom: 5px;
   left: 542px;
 }

 .slider-pagination-button {
   width: 12px;
   height: 12px;
   margin: 0;
   padding: 0;
   background-color: #FFFFFF;
   border: 2px solid #000000;
   border-radius: 50%;
   cursor: pointer;
 }

 .slider-pagination-button:hover {
   opacity: 0.6;
 }

 .slider-pagination-button:active {
   opacity: 0.3;
 }

 .slider-pagination-button:focus-visible {
   outline: 2px solid#AF4FFF;
 }

 .slider-pagination-button-current {
   background-color: #000000;
 }

 .slider-pagination-button::after {
   content: "";
   display: none;
   width: 169px;
   height: 49px;
   background-image: url(../images/slider-button-outline.svg);
   background-repeat: no-repeat;
   position: absolute;
   left: 0;
   transform: translateY(-14px) translateX(-5px);
   outline: none;
 }

 .slider-next {
   position: absolute;
   width: 20px;
   height: 60px;
   left: 30px;
   top: 211px;
   background-color: #FFFFFF;
   border: none;
   background-image: url(../images/slider-button.svg);
 }

 .slider-next:hover {
   opacity: 0.6;
 }

 .slider-next:active {
   opacity: 0.3;
 }

 .slider-next:focus-visible {
   outline: 2px solid #AF4FFF;
 }

 .slider-prev:hover {
   opacity: 0.6;
 }

 .slider-prev:active {
   opacity: 0.3;
 }

 .slider-prev:focus-visible {
   outline: 2px solid #AF4FFF;
 }

 .slider-prev {
   position: absolute;
   width: 20px;
   height: 60px;
   left: 540px;
   top: 211px;
   background-color: #FFFFFF;
   border: none;
   background-image: url(../images/slider-button.svg);
   transform: rotate(180deg);
 }

 .promo-slider-image {
   display: flex;
   width: 560px;
   height: 560px;
   margin-right: 40px;
 }

 .promo-slider-info {
   display: flex;
   width: 560px;
   flex-direction: column;
   margin-top: 121px;
   min-height: 401px;
 }

 .promo-slider-text-header {
   display: flex;
   width: 545px;
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 50px;
   line-height: 50px;
   margin-bottom: 29px;
 }

 .promo-slider-text-header.two {
   width: 287px;
 }

 .promo-slider-text-header.three {
   width: 437px;
 }

 .promo-slider-text-main {
   display: flex;
   width: 560px;
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   margin-bottom: 50px;
   margin-top: 0;
 }

 .promo-slider-button {
   display: flex;
   width: 220px;
   height: 40px;
   justify-content: space-around;
   text-decoration: none;
   color: #000000;
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   margin-bottom: 50px;
   position: relative;
   z-index: 1;
   align-items: center;
 }

 .promo-slider-button::before {
   content: "";
   display: block;
   width: 220px;
   height: 8px;
   background-image: url(../images/button.svg);
   position: absolute;
   z-index: -1;
   /* transform: translateX(0)translateY(5px); */
 }

 .promo-slider-button::after {
   content: "";
   display: none;
   width: 220px;
   height: 40px;
   background-image: url(../images/background.svg);
   position: absolute;
   z-index: -1;
 }

 .promo-slider-button:hover::before {
   width: 220px;
   height: 40px;
 }

 .promo-slider-button:active::after {
   display: block;
 }

 .promo-slider-button:focus-visible {
   outline: 2px solid#AF4FFF;
 }

 .specifications {
   display: flex;
   width: 310px;
   min-height: 72px;
 }

 .specifications.two {
   flex-direction: column;
 }

 .specifications.three {
   width: 386px;
   justify-content: space-between;
 }

 .specification-culumn {
   display: flex;
   flex-direction: column;
 }

 .specifications-left {
   display: flex;
   flex-direction: column;
   width: 140px;
   height: 72px;
   margin-right: 20px;
 }

 .specifications-right {
   display: flex;
   flex-direction: column;
   width: 147px;
   height: 72px;
 }

 .specification-title {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 30px;
   margin: 0;

 }

 .specification-text {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   margin-top: 12px;
 }



 /* Goods list */

 .main-goods {
   display: flex;
   Width: 1160px;
   justify-content: space-between;
   margin: 0 auto;
 }

 .main-goods-link {
   Width: 160px;
   Height: 253px;
   text-decoration: none;
   color: #000000;
 }

 .main-goods-link-text {
   display: flex;
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 24px;
   width: 164px;
   height: 60px;
 }

 .main-goods-link::before {
   content: "";
   display: block;
   width: 160px;
   height: 160px;
   background-color: #FFE17F;
   background-repeat: no-repeat;
   background-position: center;
   margin-bottom: 33px;
 }

 .main-goods-link:hover::before {
   background-color: #FFC700;
 }

 .main-goods-link:active {
   opacity: 0.3;
 }

 .main-goods-link:focus-visible {
   outline: 2px solid #AF4FFF;
 }


 .main-goods-link.vr::before {
   background-image: url(../images/main-goods-list/vr.svg);
 }

 .main-goods-link.monopod::before {
   background-image: url(../images/main-goods-list/monopod.svg);
   background-position: bottom;
 }

 .main-goods-link.cam::before {
   background-image: url(../images/main-goods-list/actioncam.svg);
 }

 .main-goods-link.fitnes::before {
   background-image: url(../images/main-goods-list/fitnes.svg);
 }

 .main-goods-link.watch::before {
   background-image: url(../images/main-goods-list/watch.svg);
 }

 .main-goods-link.copter::before {
   background-image: url(../images/main-goods-list/copter.svg);
 }

 /* Service slider */

 .services-slider-wrap {
   display: flex;
   width: 1440px;
   min-height: 289px;
   background-color: #F0F0F0;
   margin: 0 auto;
   margin-top: 172px;
   margin-bottom: 70px;
 }

 .services-slider-wrap-container {
   background-color: #F0F0F0;
   width: 100%;
 }

 .service-slider-controls {
   display: flex;
   flex-direction: column;
   width: 287px;
   height: 190px;
   margin-left: 140px;
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   align-items: flex-start;
   text-transform: uppercase;
   position: relative;
   margin-top: -38px;
   letter-spacing: 0.2em;
 }







.services-slider-input:checked + .services-slider-label::after {
  display: none;
}

/* .service-text {
  display: flex;
  width: 160px;
  justify-content: center;
  margin-right: 120px;
} */

.services-slider-input:checked + .services-slider-label {
  box-sizing: border-box;
  color: #FFE17F;
  width: 280px;
  background-color: #000000;
  padding-right: 118px;
}

/* .services-slider-input:checked + .service-text {

} */







 .services-slider-label {
   display: flex;
   width: 160px;
   height: 40px;
   justify-content: center;
   align-items: center;
   position: relative;
   z-index: 1;
 }

 .services-slider-label:not(:last-child) {
  margin-bottom: 35px;
 }

 .services-slider-label:active:checked {
   width: 280px;
   height: 40px;
 }

 .services-slider-label::after {
   content: "";
   display: block;
   width: 160px;
   height: 8px;
   background-image: url(../images/button.svg);
   position: absolute;
   z-index: -1;
 }

 .service-slider-controls::after {
   content: "";
   display: block;
   width: 7px;
   height: 319px;
   background-image: url(../images/Rectangle.svg);
   position: absolute;
   right: 0;
   top: -63px;
 }

 .service-slider-text-main.waranty,
 .service-slider-text-main.credit {
  display: flex;
  width: 475px;
 }

 .services-slider-item {
   display: flex;
   flex-direction: column;
   width: 452px;
   margin-left: 117px;
   margin-top: -28px;
   padding-right: 246px;

 }

 .services-slider-item.delivery::after {
   content: "";
   display: block;
   width: 136px;
   height: 164px;
   background-image: url(../images/services/dilivery.svg);
   position: absolute;
   background-repeat: no-repeat;
   transform: translateX(550px);
 }

 .services-slider-item.waranty::after {
  content: "";
  display: block;
  width: 171px;
  height: 195px;
  background-image: url(../images/services/warranty.svg);
  position: absolute;
  background-repeat: no-repeat;
  transform: translateX(555px) translateY(-12px);
 }

.services-slider-item.credit::after {
  content: "";
  display: block;
  width: 156px;
  height: 188px;
  background-image: url(../images/services/credit.svg);
  position: absolute;
  background-repeat: no-repeat;
  transform: translateX(573px) translateY(-9px);
}

 .service-slider-text-header {
   margin: 0;
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 50px;
   line-height: 50px;
   margin-bottom: 34px;
 }

 .service-slider-text-main {
   margin: 0;
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
 }

 /* Rare-bar */

 .rare-bar {
   display: flex;
   flex-direction: row;
   background-color: #F0F0F0;
   width: 1160px;
   min-height: 100px;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   margin-bottom: 70px;
 }

 .rare-product {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 20px;
   line-height: 23px;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   background-repeat: no-repeat;
 }

 .rare-bar::before {
   content: "";
   display: block;
   width: 125px;
   height: 100px;
   background-color: #FFE17F;
   background-image: url(../images/car.svg);
   background-repeat: no-repeat;
   background-position: center;
 }

 .rare-bar::after {
   content: "";
   display: block;
   width: 125px;
   height: 100px;
   background-image: url(../images/rare-bar-info.svg);
   background-repeat: no-repeat;
   opacity: 0.3;
   background-position: center;
 }

 .rare-bar:hover::before {
   background-color: #FFC700;
 }

 .rare-bar:hover::after {
   opacity: 1;
 }

 .rare-bar:active {
   opacity: 0.3;
 }

 .rare-bar:focus-visible {
   outline: 2px solid #AF4FFF;
 }

 /* About us contacts */

 .about-us-contacts {
   box-sizing: border-box;
   display: flex;
   justify-content: space-between;
   margin-bottom: 70px;
   width: 1160px;
   margin: 0 auto;
 }

 .about-us {
   display: flex;
   flex-direction: column;
   width: 520px;
   position: relative;
 }

 .about-us::before {
   content: "";
   display: block;
   width: 84px;
   height: 7px;
   background-image: url(../images/about.svg);
   position: absolute;
 }

 .contacts {
   display: flex;
   flex-direction: column;
   width: 532px;
   position: relative;
 }

 .contacts::before {
   content: "";
   display: block;
   width: 84px;
   height: 7px;
   background-image: url(../images/about.svg);
   position: absolute;
 }

 .about-us-contacts-title {
   padding: 0;
   margin: 0;
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 50px;
   line-height: 50px;
   display: flex;
   margin-top: 47px;
   margin-bottom: 48px;
 }

 .about-us-contacts-text {
   margin: 0;
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   width: 498px;
   margin-bottom: 30px;
 }

 .about-us-list {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 20px;
   display: flex;
   flex-direction: column;
   margin-top: 0;
   margin-bottom: 13px;
   padding-left: 20px;
 }

 .about-us-list-color {
   color: #FFC700;
   margin-bottom: 19px;
   padding-left: 14px;
 }

 .about-us-item {
   color: #000000;
 }

 .about-us-button {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 0.2em;
   color: #000000;
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 270px;
   height: 40px;
   z-index: 1;
   position: relative;
 }

 .about-us-button::before {
   content: "";
   display: block;
   width: 270px;
   height: 8px;
   background-image: url(../images/button.svg);
   position: absolute;
   z-index: -1;
 }

 .about-us-button::after {
   content: "";
   display: none;
   width: 270px;
   height: 40px;
   background-image: url(../images/background.svg);
   position: absolute;
   z-index: -1;
 }

 .about-us-button:hover::before {
   width: 270px;
   height: 40px;
 }

 .about-us-button:active::after {
   display: block;
 }

 .about-us-button:focus-visible {
   outline: 2px solid#AF4FFF;
 }

 .contacts-title {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 50px;
   line-height: 50px;
   margin-bottom: 48px;
 }

 .contacts-text {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   margin-bottom: 30px;
 }

 .contacts-text.adress {
  margin: 0;
  margin-bottom: 30px;
 }

 .contacts-text-bold {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 30px;
   margin-bottom: 15px;
 }

 .contacts-button {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 0.2em;
   color: #000000;
   text-decoration: none;
   display: flex;
   width: 259px;
   height: 40px;
   z-index: 1;
   position: relative;
   align-items: center;
   justify-content: center;
 }

 .contacts-button::before {
   content: "";
   display: block;
   width: 259px;
   height: 8px;
   background-image: url(../images/button.svg);
   position: absolute;
   z-index: -1;
 }

 .contacts-button::after {
   content: "";
   display: none;
   width: 259px;
   height: 40px;
   background-image: url(../images/background.svg);
   position: absolute;
   z-index: -1;
 }

 .contacts-button:hover::before {
   width: 259px;
   height: 40px;
 }

 .contacts-button:active::after {
   display: block;
 }

 .contacts-button:focus-visible {
   outline: 2px solid#AF4FFF;
 }

 .tel {
   color: #444444;
 }

 .time-job {
   margin-top: 0;
   width: 204px;
   height: 60px;
 }

 /* Subscribe */

 .subscribe {
   display: flex;
   flex-direction: column;
   Width: 1440px;
   min-height: 421px;
   background-color: #F0F0F0;
   justify-content: space-between;
   margin: 0 auto;
   margin-top: 70px;
 }

 .subscribe-container {
   width: 100%;
   background-color: #F0F0F0;
 }

 .subscribe-up {
   display: flex;
   flex-direction: row;

 }

 .subscribe-text-bold {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 50px;
   line-height: 50px;
   Width: 348px;
   Height: 100px;
   margin-top: 64px;
   margin-left: 147px;
   margin-right: 252px;
 }

 .subscribe-text {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   Width: 560px;
   Height: 90px;
   margin-top: 74px;

 }

 .subscribe-down {
   display: flex;
   min-height: 112px;

 }

 .subscribe-form {
   display: flex;
   width: 810px;
   height: 57px;

   margin-left: 138px;
   margin-right: 193px;
 }



 .subscribe-form-input {
   width: 100%;
   background-color: #F0F0F0;
   border-left: 0;
   border-top: 0;
   border-right: 0;
   border-bottom: 3px solid #C4C4C4;
   padding: 0 16px;
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
 }

 .subscribe-form-input:focus {
   outline: none;
   background: #DCDCDC;
 }

 /* .subscribe-form-input:invalid {
   border-bottom: 3px solid #C4C4C4;
 }

 .subscribe-form-input:required {
   border-bottom: 3px solid #FF3D3D;
 } */


 .subscribe-form-button {
   width: 253px;
   height: 57px;
   padding: 0;
   border: 3px solid #C4C4C4;
 }

 .subscribe-form-button:hover {
   background-color: #000000;
   color: #ffffff;
   border-color: #000000;
 }

 .subscribe-form-button-text:active {
   opacity: 0.3;
 }

 .subscribe-form-button:focus-visible {
   outline: 2px solid #AF4FFF;
 }


 .subscribe-form-button-text {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   width: 175px;
   height: 21px;
   padding: 18px 39px 18px 39px;
 }

 .subscribe-text.tick {
   margin: 0;
   display: flex;
   width: 160px;
   margin-top: 14px;

   padding-left: 30px;
   position: relative;
 }

 .text-tick {
   display: flex;
   width: 128px;
 }

 .tick::before {
   content: "";
   display: block;
   background-image: url(../images/tick.svg);
   width: 14px;
   height: 14px;
   left: 0;
   top: 6px;
   position: absolute;
 }

 /* Footer */

 .page-footer {
   display: flex;
   width: 1440px;
   min-height: 321px;
   margin: 0 auto;
   background-color: #444444;
 }

 .page-footer-container {
   background-color: #444444;
   width: 100%;
 }

 .page-footer-info {
   display: flex;
   flex-direction: column;
   width: 239px;
   height: 182px;
   margin-left: 140px;
   margin-top: 62px;
   margin-right: 120px;
   margin-bottom: 77px;
   position: relative;
 }

 .page-footer-logo {
   margin-bottom: 26px;
 }

 .page-footer-logo:hover {
   opacity: 0.6;
 }

 .page-footer-logo:active {
   opacity: 0.3;
 }

 .page-footer-logo:focus-visible {
   outline: 2px solid#AF4FFF;
 }

 .page-footer-services {
   display: flex;
   flex-direction: column;
   width: 444px;
   min-height: 123px;
   margin-top: 137px;
   margin-right: 183px;
 }

 .page-footer-link-block {
   display: flex;
   justify-content: space-between;
   margin-bottom: 62px;
 }

 .page-footer-link {
   position: relative;
 }

 .page-footer-link::before {
   content: "";
   display: none;
   background-image: url(../images/footer_underline.svg);
   width: 125px;
   height: 2px;
   position: absolute;
   left: 0;
   right: 0;
   bottom: -3px;
 }

 .delivery-link:hover.page-footer-link::before {
   color: #FFC700;
   display: block;
 }

 .delivery-link:active.page-footer-link::before {
   color: #FFC700;
   display: block;
   opacity: 0.3;
 }


 .warranty-link:hover.page-footer-link::before {
   color: #FFC700;
   display: block;
   width: 120px;
 }

 .contacts-link:hover.page-footer-link::before {
   color: #FFC700;
   display: block;
   width: 126px;
 }


 /* .delivery-link:hover {
   color: #FFC700;
   text-decoration: underline;
 }

 .delivery-link:active {
   opacity: 0.3;
 }

 .delivery-link:focus-visible {
   outline: 2px solid#AF4FFF;
 } */

 /* .warranty-link:hover {
   color: #FFC700;
   text-decoration: underline;
 }

 .warranty-link:active {
   opacity: 0.3;
 }

 .warranty-link:focus-visible {
   outline: 2px solid#AF4FFF;
 }

 .contacts-link:hover {
   color: #FFC700;
   text-decoration: underline;
 }

 .contacts-link:active {
   opacity: 0.3;
 }

 .contacts-link:focus-visible {
   outline: 2px solid#AF4FFF;
 } */

 .page-footer-social-link-block {
   display: flex;
   width: 150px;
   padding: 0;
   margin: 0;
   list-style-type: none;
   justify-content: space-between;
   margin-left: 147px;
 }

 .page-footer-phone {
   display: flex;
   width: 175px;
   min-height: 116px;
   margin-top: 140px;
   flex-direction: column;
 }

 .page-footer-link {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   color: #FFFFFF;
   text-decoration: none;
 }

 .page-footer-link-phone {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color: #FFFFFF;
   margin-bottom: 63px;
 }

 .page-footer-link-phone:hover {
   color: #FFC700;
 }

 .page-footer-link-phone:active {
   opacity: 0.3;
 }

 .page-footer-link-phone:focus-visible {
   outline: 2px solid#AF4FFF;
 }

 .page-footer-link-html {
   margin-left: auto;

 }

 .html-logo:hover path {
   fill: #ffffff;
 }

 .html-logo:active {
   opacity: 0.3;
 }

 .page-footer-link-html:focus-visible {
   outline: 2px solid#AF4FFF;
 }

 /*
 .page-footer-link-html::after {
   content: "";
   display: block;
   background-image: url(../images/html.svg);
   width: 115px;
   height: 33px;
   position: absolute;
   bottom: 0;
   right: 0;
 } */

 .page-footer-text {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color: #FFFFFF;
   padding-bottom: 64px;
   margin: 0;
 }

 .page-footer-info::after {
   content: "";
   display: block;
   background-image: url(../images/footer-stick.svg);
   width: 80px;
   height: 7px;
   bottom: 0;
   position: absolute;
   /* transform: translateY(64px); */
 }

 .page-footer-social-link {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   text-transform: uppercase;
   color: #FFFFFF;
   text-decoration: none;
 }



 .page-footer-social-link {
   border-radius: 20px;
   border-color: #000000;
 }

 .page-footer-social-link-item-telegram {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   border: rgba(255, 255, 255, 0.3);
   border-radius: 30px;
   background-color: rgba(255, 255, 255, 0.3);
 }

 .telegram-link {
   padding: 7px;
 }

 .page-footer-social-link-item-telegram:hover {
   background-color: #FFC700;
 }

 .telegram-link:active {
   opacity: 0.3;
 }

 .page-footer-social-link-item-telegram:focus-visible {
   outline: 2px solid#AF4FFF;
 }

 .page-footer-social-link-item-youtube {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   border: rgba(255, 255, 255, 0.3);
   border-radius: 30px;
   background-color: rgba(255, 255, 255, 0.3);
 }


 .page-footer-social-link-item-twitter {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   border: rgba(255, 255, 255, 0.3);
   border-radius: 30px;
   background-color: rgba(255, 255, 255, 0.3);
 }



 /* .telegram::before {
   content: "";
   display: block;
   background-image: url(../images/telegram.svg);
   width: 42px;
   height: 40px;
   bottom: 0;
   background-repeat: no-repeat;
   padding-bottom: 0;
 }

 .telegram:hover {
   background-color: #FFC700;
   border-radius: 20px;
 }

 .telegram:focus {
   border: 2px solid #AF4FFF;
 }


 .youtube::before {
   content: "";
   display: block;
   background-image: url(../images/youtube.svg);
   width: 42px;
   height: 40px;
   padding-bottom: 0;
   background-repeat: no-repeat;
   margin-right: 13px;
   margin-left: 14px;
 }

 .twitter::before {
   content: "";
   display: block;
   background-image: url(../images/twitter.svg);
   width: 42px;
   height: 40px;
   padding-bottom: 0;
   background-repeat: no-repeat;
 } */


 /* modal-window */

 .modal-container {
   position: fixed;
   box-sizing: border-box;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 4;
   background-color: rgba(240, 240, 240, 0.9);
 }

 .modal-container-close {
  display: none;
 }

 .modal {
   position: relative;
   margin: auto;
   box-sizing: border-box;
   width: 920px;
   height: 568px;
   background-color: #ffffff;
   border: 10px solid #000000;
   box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
   display: flex;
 }

 .modal-close-button {
   box-sizing: border-box;
   position: absolute;
   top: 84px;
   right: 80px;
   width: 26px;
   height: 26px;
   background-color: #ffffff;
   border: none;
   background-image: url("../images/modal-close.svg");
   background-repeat: no-repeat;
   background-position: center;
   cursor: pointer;
 }

 .modal-title {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 50px;
   line-height: 50px;
   display: flex;
   width: 498px;
   margin: 0;
   margin-top: 72px;
   margin-left: 80px;
 }

 .form-rows-one {
   display: flex;
   width: 760px;
   min-height: 114px;
   justify-content: space-between;
   margin-top: 42px;
   margin-left: 80px;
   margin-bottom: 42px;
 }

 .label-title {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 20px;
   letter-spacing: -0.02em;
   margin-bottom: 14px;
   height: 20px;
 }

 .field-group {
   display: flex;
   flex-direction: column;
   margin: 0;
 }

 .your-name-field {
   box-sizing: border-box;
   width: 360px;
   height: 60px;
   border: none;
   background: #F0F0F0;
   padding: 0;
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   padding-left: 20px;
 }

 .your-email-field {
   box-sizing: border-box;
   width: 360px;
   height: 60px;
   border: none;
   background: #F0F0F0;
   padding: 0;
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   padding-left: 20px;
 }

 .form-rows-two {
   display: flex;
   min-height: 94px;
   justify-content: space-between;
 }

 .field-group.three {
   width: 540px;
   margin-left: 80px;
   margin-right: 40px;
 }

 .bring-field {
   box-sizing: border-box;
   width: 540px;
   height: 60px;
   border: none;
   background: #F0F0F0;
   padding: 0;
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   padding-left: 20px;
 }

 .label-title.four {
  margin: 0;
   display: flex;
 }

 .input-four {
   display: flex;
 }

 .button-minus {
   padding: 0;
   width: 60px;
   height: 60px;
   border: none;
   position: relative;
   cursor: pointer;
 }

 .button-minus::after {
   content: "";
   display: block;
   background-image: url(../images/modal_minus.svg);
   width: 16px;
   height: 2px;
   position: absolute;
   top: 29px;
   left: 22px;
 }

 .input-number {
  box-sizing: border-box;
   width: 60px;
   height: 60px;
   border: none;
   background: #F0F0F0;
   padding: 0;
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   padding-left: 22px;
   padding-right: 22px;
 }

 .button-plus {
   padding: 0;
   width: 60px;
   height: 60px;
   border: none;
   position: relative;
   cursor: pointer;
 }

 .button-plus::before {
   content: "";
   display: block;
   background-image: url(../images/modal_plus.svg);
   width: 16px;
   height: 16px;
   position: absolute;
   top: 22px;
   left: 22px;
 }

 .modal-form-button {
   display: flex;
   width: 200px;
   height: 40px;
   justify-content: space-around;
   text-decoration: none;
   color: #000000;
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   margin-bottom: 50px;
   position: relative;
   z-index: 1;
   align-items: center;
   margin-top: 42px;
   margin-left: 80px;
   border: none;
   background-color: #FFFFFF;
 }

 .modal-form-button::before {
   content: "";
   display: block;
   width: 200px;
   height: 8px;
   background-image: url(../images/button.svg);
   position: absolute;
   z-index: -1;
 }

 .modal-form-button::after {
   content: "";
   display: none;
   width: 200px;
   height: 40px;
   background-image: url(../images/background.svg);
   position: absolute;
   z-index: -1;
 }

 .modal-form-button:hover::before {
   width: 200px;
   height: 40px;
 }

 .modal-form-button:active::after {
   display: block;
 }

 .modal-form-button:focus-visible {
   outline: 2px solid#AF4FFF;
 }

 /* tooltip */

 .form-label-tooltip {
   display: flex;
 }

 .tooltip-toggle {
   border: none;
   background-color: transparent;
   padding: 0;
   margin: 0;
   transform: translateX(10px) translateY(-7px);
   position: relative;
   bottom: -3px;
 }

 .tooltip-text {
   position: absolute;
   box-sizing: border-box;
   background-color: #242424;
   color: #ffffff;
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   padding: 19px 17px 0 19px;
   display: none;
   width: 200px;
   min-height: 160px;
   left: 72%;
   z-index: 2;
 }

 .tooltip-toggle:hover+.tooltip-text,
 .tooltip-toggle:focus+.tooltip-text {
   display: block;
 }

 .tooltip-text::before {
  content: "";
  display: none;
  width: 14px;
  height: 6px;
  background-image: url(../images/triangle-popover.svg);
  top: -6px;
  right: 35px;
  position: absolute;
}

.tooltip-toggle:hover+.tooltip-text::before,
.tooltip-toggle:focus+.tooltip-text::before {
  display: block;
}


 /* page-catalog */

.inner-header-container {
  display: flex;
  width: 1079px;
  margin: 0 auto;
}

 .inner-header {
   display: flex;
   flex-direction: column;
   width: 1079px;
   margin-left: 20px;
 }

 .inner-header-title {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 50px;
   line-height: 50px;
   margin-top: 35px;
   margin-bottom: 16px;
 }

 .breadcrumbs {
   display: flex;
   list-style-type: none;
   width: 429px;
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   padding: 0;
   margin: 0;
   justify-content: space-between;
   margin-bottom: 34px;
   color: #000000;
   text-decoration: none;
 }

 .breadcrumbs-link {
   color: #000000;
   text-decoration: none;
 }

 .breadcrumbs-item {
  position: relative;
 }

 .breadcrumbs-item:not(:last-child) {
  padding-right: 20px;
 }

 .breadcrumbs-item:not(:last-child):after {
  content: "";
  display: block;
  background-image: url(../images/breadcrumbs.svg);
  width: 5px;
  height: 8px;
  position: absolute;
  background-repeat: no-repeat;
  opacity: 0.2;
  top: 24%;
  right: 0;
 }







 /* .main {
   position: relative;
 } */
/*
 .main::after {
   content: "";
   display: block;
   background-image: url(../images/breadcrumbs.svg);
   width: 5px;
   height: 8px;
   position: absolute;
   right: -22px;
   background-repeat: no-repeat;
   transform: translateY(-13px);
 } */

 /* .catalog::after {
   content: "";
   display: block;
   background-image: url(../images/breadcrumbs.svg);
   width: 5px;
   height: 8px;
   position: absolute;
   right: -22px;
   background-repeat: no-repeat;
   transform: translateY(-13px);
 } */

 .page-catalog {
   display: flex;
   width: 1160px;
   margin: 0 auto;
   background-color: #F0F0F0;
 }

 .page-catalog-container {
   width: 100%;
   background-color: #F0F0F0;
 }

 .sidebar {
   display: flex;
   width: 320px;
   min-height: 1316px;
   flex-direction: column;
 }

 .sidebar-title {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 16px;
   line-height: 19px;
   text-transform: uppercase;
   letter-spacing: 0.2em;
   padding: 0;
   margin: 0;
   width: 200px;
   display: flex;
   margin-left: 60px;
   margin-top: 25px;
   margin-bottom: 56px;
 }

 .range-scale {
   position: relative;
   height: 2px;
   width: 200px;
   margin-bottom: 12px;
   background-color: #DCDCDC;
 }

 .range-bar {
   position: absolute;
   height: 2px;
   width: 119px;
   background-color: #000000;
 }

 .range-toggle {
   position: absolute;
   width: 18px;
   height: 18px;
   background: #EBEBEB;
   border: 2px solid #000000;
   border-radius: 50%;
   cursor: pointer;
   z-index: 1;
 }

 .range-toggle:hover {
   opacity: 0.5;
 }

 .range-toggle:active {
   border-color: #000000;
   background: #000000;
 }

 .range-toggle:focus-visible {
   outline: 2px solid #AF4FFF;
 }

 .toggle-min {
   top: -8px;
   left: -10px;
 }

 .toggle-max {
   top: -8px;
   right: -10px;
 }




 .catalog-filter-group.price {
   display: flex;
   width: 200px;
   min-height: 95px;
   padding: 0;
   border: 0;
   margin: 0 auto;
   position: relative;
 }

 .catalog-filter-group {
   display: flex;
   width: 200px;
   padding: 0;
   border: 0;
   margin: 0 auto;
 }

 .catalog-filter-title {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 20px;
   letter-spacing: -0.02em;
   color: #000000;
   margin-top: 12px;
   padding-top: 14px;
   position: relative;
 }

 .catalog-filter-title::before {
   content: "";
   display: block;
   background-color: #000000;
   width: 200px;
   height: 2px;
   position: absolute;
   top: 0;
 }

 .catalog-filter-title.price-title {
  margin-bottom: 28px;
 }

 .catalog-filter-title.color-title {
  margin-bottom: 19px;
 }

 .catalog-filter-title.bluetooth-title {
  margin-bottom: 17px;
 }

 .range-wrapper-inputs {
   display: flex;
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   text-align: center;
   color: #000000;
   opacity: 0.3;
   margin-bottom: 34px;
 }

 .range-input.min {
   width: 30px;
   padding: 0 2px;
   font: inherit;
   text-align: center;
   background-color: transparent;
   border: none;
   appearance: textfield;
 }

 .range-input.max {
   width: 60px;
   padding: 0 2px;
   font: inherit;
   text-align: center;
   background-color: transparent;
   border: none;
   appearance: textfield;
 }

 .range-input::-webkit-outer-spin-button,
 .range-input::-webkit-inner-spin-button {
   appearance: none;
 }

 .catalog-filter-list {
   list-style-type: none;
   padding: 0;
   margin: 0;
   margin-bottom: 28px;
 }

 .control {
   position: relative;
   display: block;
   padding-left: 36px;
 }

 .control-mark {
   position: absolute;
   top: 2px;
   left: 0;
   width: 18px;
   height: 18px;
   border: 2px solid #242424;
   border-radius: 3px;
 }

 .control-input[type="checkbox"]:checked+.control-mark::before,
 .control-input[type="checkbox"]:checked+.control-mark::after {
   position: absolute;
   content: "";
   width: 11px;
   height: 11px;
   background-image: url(../images/tick-filter.svg);
   background-repeat: no-repeat;
   top: 5px;
   left: 5px;
 }

 .control-input[type="radio"]+.control-mark {
   border-radius: 50%;
 }

 .control-input[type="radio"]:checked+.control-mark::before {
   position: absolute;
   top: 4px;
   left: 4px;
   width: 8px;
   height: 8px;
   background-color: #242424;
   border-radius: 50%;
   content: "";
 }

 .catalog-filter-item:not(:last-child) {
   margin-bottom: 7px;
 }

 .filter-button {
   display: flex;
   width: 220px;
   min-height: 40px;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
 }









 /* .control:hover .control-mark {
  border-color: #814b18;
}

.control-input:disabled + .control-mark {
  border-color: #242424;
} */

 .goods-sort {
   display: flex;
   width: 840px;
   min-height: 70px;
   align-items: center;
 }

 .goods-sort-updown {
   display: flex;
   justify-content: space-around;
   margin: 0;
   padding: 0;
   list-style-type: none;
 }

 .goods-sort-up {
  display: flex;
  width: 30px;
  height: 30px;
  position: relative;
 }

 .goods-sort-up-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 11px;
  height: 10px;
  background-image: url(../images/sort-up.svg);
  top: 10px;
  left: 9.5px;
  opacity: 0.2;
 }

 .goods-sort-down {
  display: flex;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  position: relative;
 }

 .goods-sort-down-link::before {
  content: "";
  display: block;
  position: absolute;
  width: 11px;
  height: 10px;
  background-image: url(../images/sort-up.svg);
  transform: rotate(180deg);
  top: 10px;
  left: 9.5px;
  opacity: 0.2;
 }

 .goods-sort-title {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 16px;
   line-height: 19px;
   text-transform: uppercase;
   letter-spacing: 0.2em;
   margin: 0;
   display: flex;
   margin-left: 40px;
   margin-right: 199px;
 }



 .goods-select {
   background-color: #F0F0F0;
   border: 0;
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   display: flex;
   margin-right: 206px;

 }


 .goods-list {
   display: flex;
   width: 840px;
   flex-wrap: wrap;
   background-color: #FFFFFF;
   justify-content: space-between;
 }

 .goods-container {
   box-sizing: border-box;
   display: grid;
   grid-template-columns: 360px 360px;
   gap: 40px;
   margin-left: 40px;
   margin-top: 70px;
   margin-bottom: 44px;

   /* justify-content: space-evenly;
   flex-wrap: wrap;
   margin-top: 70px; */
 }

 /* .goods-item {
  display: grid;
} */


 .goods-item-info {
   box-sizing: border-box;
   display: flex;
   width: 360px;
   min-height: 40px;
   margin-top: 23px;
   justify-content: space-between;
 }

 .goods-item-title {
   display: flex;
   margin: 0;
 }

 .button-download-more {
   box-sizing: border-box;
   width: 760px;
   height: 55px;
   display: flex;
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   background-color: #ffffff;
   border: 3px solid #E5E5E5;
   margin: 0 auto;
   margin-bottom: 44px;
 }

 .button-download-more:hover {
   border-color: #000000;
 }

 .button-download-more:active {
   opacity: 0.3;
 }

 .button-download-more:focus-visible {
   outline: 2px solid#AF4FFF;
 }

 .button-download-more-text {
   display: flex;
   padding-top: 17px;
   padding-bottom: 17px;
   margin: 0 auto;
 }

 .pagination-container {
   display: flex;
   width: 760px;
   height: 71px;
   margin: 0 auto;
   margin-bottom: 78px;
 }

 .pagination {
   list-style-type: none;
   padding: 0;
   margin: 0;
   display: flex;
   width: 760px;
   height: 71px;
   justify-content: space-between;
   align-items: center;
   background-color: #EBEBEB;
   padding-left: 25px;
   padding-right: 25px;
 }

 .pagination-list {
   list-style-type: none;
   padding: 0;
   display: flex;
   width: 200px;
   justify-content: space-around;
 }

 /* .filter-title {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 20px;
 } */

 .goods-item-link {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 20px;
   color: #000000;
   text-decoration: none;
 }

 /* .goods-item-price {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #444444;
 } */

 .pagination-control {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   text-transform: uppercase;
   color: #000000;
   text-decoration: none;
   letter-spacing: 0.2em;
 }

 .pagination-link {
   font-family: "Rubik", Arial, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   text-decoration: none;
   color: #444444;
 }

 .goods-item-more-link {
   font-family: "Raleway", Arial, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   text-transform: uppercase;
   text-decoration: none;
   color: #000000;
   background-color: #FFE17F;
 }
